:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
}

body{
  background:linear-gradient(90deg , rgba(255, 255, 255, 0.867) , rgba(240, 239, 159, 0.516)), url(/src/assets/images/wallpaper.jpg);
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.btn{
  padding: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg , rgba(0, 195, 255, 0.397) , rgba(208, 255, 0, 0.274));
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  transition: all 0.5s ease;
  cursor: pointer;
  margin: 0.5rem 0 0.5rem 0;
}
.btn2{
  padding: 0.7rem;
  border-radius: 0.5rem;
  background:  rgba(227, 226, 226, 0.901);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  transition: all 0.5s ease;
  cursor: pointer;
  margin: 0.6rem 0 0.5rem 0;
}
.btn:hover , .btn2:hover{
  background-color:  rgb(112, 216, 248);
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.432);
}


.card {
  flex: 1 1 calc(30% - 10px);
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  transition: all 0.5s, box-shadow 0.3s;
  cursor: pointer;
  max-width: 300px;
  min-width: 200px;
}

.card:focus{
  background:  rgba(0, 195, 255, 0.6) ;
}

.card:nth-child(odd){
  background: linear-gradient(90deg , rgba(0, 195, 255, 0.397) , rgba(208, 255, 0, 0.274));
}
.card:nth-child(even){
  background: linear-gradient(90deg , rgba(208, 255, 0, 0.274) , rgba(0, 195, 255, 0.397) );
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}


/* ------------سایدبار -------------- */

.sidebar {
  width: 230px;
  height: 100vh;
  background:linear-gradient(90deg , rgba(255, 255, 255, 0.568) , rgba(255, 255, 255, 0.525)), url(/src/assets/images/42.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(20px) brightness(0.8);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 1s ease; /* تنظیم انیمیشن */
  transform: translateX(0); /* موقعیت پیش‌فرض در سمت چپ */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.466);
}

.sidebar-right{
  transform: translateX(calc(100vw - 230px)); /* انتقال کامل به سمت راست */
  direction: rtl;
}
.sidebar-left{
  direction: ltr;
  transform: translateX(0); /* موقعیت سمت چپ */
}

.rtl-mode {
  direction: rtl;
}

.ltr-mode {
  direction: ltr;
}

.fade-move-left{
  animation: fade 1s linear;
}
.fade-move-right{
  animation: fade2 1s linear;
}



.sidebar.rtl {
  direction: rtl;
  text-align: right;
}

.menu {
  list-style-type: none;
  padding: 1rem;
}

.menu-item {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.menu-item:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
}


/* مدیا کوئری برای سایزهای کوچک‌تر */
@media (max-width: 768px) {
  .card {
      flex: 1 1 100%;
  }
  .sidebar {
    display: none;
  }
  
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes fade {
  0%{opacity: 0;}
  30%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes fade2 {
  0%{opacity: 0;}
  30%{opacity: 0;}
  100%{opacity: 1;}
}



